.container {
  width: 300px;
  height: 180px;
  position: relative;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  animation: enter 0.8s linear;
  opacity: 1;
  background-color: rgb(
    164,
    242,
    248
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to bottom right,
    rgb(119, 205, 34),
    rgb(150, 219, 243)
  );
}

.container h3 {
  font-size: 26px;
}
.container p {
  font-size: 24px;
  font-family: Proxima-Bold, 'Times New Roman', Times, serif;
}
@keyframes enter {
  0% {
    opacity: 0;
    top: 30%;
  }

  50% {
    opacity: 0.5;
    top: 15%;
  }
  100% {
    opacity: 1;
    top: 0%;
  }
}

.cases p {
  color: blue;
}
.todayCases p {
  color: rgb(47, 47, 246);
}
.deaths p {
  color: red;
}
.todayDeaths p {
  color: rgb(175, 0, 0);
}
.recovered p {
  color: green;
}
.todayRecovered p {
  color: rgb(33, 164, 33);
}

/* Media Queries */
@media (min-width: 480px) {
  .container {
    width: 340px;
    height: 220px;
  }
}
