.flexContainerWM {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 70px;
}

/* Media Queries */
@media (min-width: 1000px) {
  .flexContainerWM {
    flex-direction: row;
  }
}
