.logo {
  height: 25px;
  aspect-ratio: auto;
  margin-right: 10px;
}
.logo-large {
  height: 30px;
  aspect-ratio: auto;
  margin-right: 10px;
}
.navItem {
  text-decoration: none;
  color: #d8d3d3;
  font-family: 'Proxima-Bold', sans-serif;
  transition: all 1.2s ease-in-out;
  margin: 0 4px;
}
.navItemActive {
  color: #ffffff;
  transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  .logo {
    height: 30px;
  }
}
