.container {
  width: 90%;
  margin: 4px auto;
  height: 600px;
  margin-top: 5px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

/* Media Queries */
@media (min-width: 1000px) {
  .container {
    width: 40%;
  }
}
